.layout-header{
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(27, 31, 35, 0.08);
  padding: 0px  24px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 500;
  background-color: #fff;
  .icon-content{
    .svg{
      width: 16px;
      height: 16px;
    }
    .title{
      margin-left: 16px;
      margin-right: 40px;
    }
  }
}